body {
    
  background-color: rgb(205, 166, 243);
}

.product {
    width: 25%;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    text-align: center;
    background-color: bisque;
}

   


.product img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.product h3 {
    margin-bottom: 5px;
}

.product p {
    margin-bottom: 10px;
}

.product .buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.item-name {
    flex: 1;
    margin-right: 10px;
}
#productdiv {
    padding: 10px;
    background-color: #70d4ef;
    margin-top: 100px;
    border-radius: 5px;
    width: 340px;
    text-align: center;
    position: fixed;
    top:0;
    right: 0;
}

.col-md-8 {
    padding: 10px;
    text-align: center;
    color: black;
    
}

@media (max-width: 768px) {
    .product {
        width: 100%;
        margin-bottom: 10px;
    }
}
